// Ranglar palitrasi
$color-primary:    #0a0a0a; // asosiy qora
$color-accent:     #ca0000; // Audi qizil
$color-secondary:  #f5f5f5; // fon uchun oq-sarg‘ish
$color-light:      #ffffff; // sof oq
$color-dark:       #333333; // to‘yingan kulrang
$color-muted:      #777777; // noaniq matn

// Shrift sozlamalari
$font-base:        'Inter', sans-serif;
$font-heading:     'Audi Type', sans-serif;
$font-weight-normal: 400;
$font-weight-bold:   700;
